In [ ]:
def count_characters(string):
    char_count = {}
    for char in string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    return char_count

In [ ]:
# Example usage:
input_string = "abbc an"
result = count_characters(input_string)

In [ ]:
result

In [23]:
str1 = "aaaa"

In [24]:
input_str = {}
for char in str1:
    if char in input_str:
        input_str[char] += 1
    else:
        input_str[char] = 1

In [25]:
input_str

{'a': 4}

In [39]:
from dataclasses import dataclass

@dataclass
class Position:
    name: str
    lon: float
    lat: float

Position(name='Aamir', lon=9.4, lat=89.3)